@charset "utf-8";

/***************************************************************************
*
* company05.css
*
*
***************************************************************************/


/******** Desktop ********/

.main_content .area {
    margin-top: 22px;
}

.area .area_content {
    width: 100%;
    overflow: hidden;
    padding-top: 27px;
}

.area .area_content .item_img {
    width: 42%;
    float: left;
    text-decoration: none;
    color: #000;
}

.area .area_content .item_main {
    float: left;
    width: 58%;
    padding: 0px 0px 0px 31px;
}

.area .area_content .item_main span {
    display: block;
}

.area .area_content .item_main .title_item {
    display: block;
    padding: 0px 0px 4px 0px;
    color: #000;
    text-decoration: none;
}

.area .area_content .item_main .title_item:hover {
    text-decoration: underline;
}

.area .area_content .item_main .main_item {
    word-wrap: break-word;
    font-size: 12px;
    line-height: 16px;
}


/* end content */


/******** Responsive ******** /


/****** ipad *******/

@media screen and (max-width: 768px) {
    /***** header *****/
    /***** banner *****/
    /***** content *****/
    .area .area_content .item_main {
        padding: 0px 0px 0px 20px;
    }
    /***** footer *****/
}


/* ***** iphone 5.5in rotate ****** */

@media screen and (max-width: 736px) {
    /***** header *****/
    /***** banner *****/
    /***** content *****/
    /***** footer *****/
}


/* ***** iphone 4.7in rotate ****** */

@media screen and (max-width: 667px) {
    /***** header *****/
    /***** banner *****/
    /***** content *****/
    /***** footer *****/
}


/* ***** iphone 3.5in rotate ****** */

@media screen and (max-width: 586px) {
    /***** header *****/
    /***** banner *****/
    /***** content *****/
    /***** footer *****/
}


/* ***** iphone 5.5in ****** */

@media screen and (max-width: 414px) {
    /***** header *****/
    /***** banner *****/
    /***** content *****/
    .area .area_content .item_main {
        width: 100%;
        padding: 10px 0px 0px 0px;
    }
    /***** footer *****/
}


/* ***** iphone 4.7in ****** */

@media screen and (max-width: 375px) {
    /***** header *****/
    /***** banner *****/
    /***** content *****/
    /***** footer *****/
}


/* ***** iphone 3.5in ****** */

@media screen and (max-width: 320px) {
    /***** header *****/
    /***** banner *****/
    /***** content *****/
    /***** footer *****/
}
